#!/usr/bin/make -f

# set destdir
DESTDIR=$(CURDIR)/debian/tmp

# hack: will only work on OBS-created chroots
SOURCESDIR=/usr/src/packages/SOURCES/ ~

CONFIG_OPTS := --enable-vpu
ifeq (arm64,$(DEB_HOST_ARCH))
	CONFIG_OPTS += --enable-armv8
endif
ifeq (armhf,$(DEB_HOST_ARCH))
	CONFIG_OPTS += --enable-fhw
endif

NAME=imx-codec-4.5.4
MD5=35d16ca40f876845bdd82184f467c276

%:
	dh $@ --sourcedirectory=$(NAME) --parallel --with autoreconf

build:
	find $(SOURCESDIR) -maxdepth 1 -iname "$(NAME).bin" -exec cp -v {} ./ \; -quit || true
	./fetch.sh $(NAME).bin $(MD5)
	chmod +x $(NAME).bin
	./$(NAME).bin --auto-accept --force
	dh $@ --sourcedirectory=$(NAME) --parallel

clean:
	dh $@
	rm -rf $(NAME) $(NAME).bin

override_dh_auto_configure:
	dh_auto_configure -- $(CONFIG_OPTS)

override_dh_shlibdeps:
	dh_shlibdeps -lusr/lib/$(DEB_HOST_MULTIARCH)/imx-mm/audio-codec:usr/lib/$(DEB_HOST_MULTIARCH)/imx-mm/audio-codec/wrap
